.idea/
.workbuddy/

__pycache__/
*.py[cod]

frontend/node_modules/
frontend/dist/

integrated_qa_system/logs/
integrated_qa_system/rag_qa/models/
integrated_qa_system/rag_qa/core/bert_results/
integrated_qa_system/rag_qa/data/ai_data/

.DS_Store
Thumbs.db
